{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="articles">

    (article>h2{Titre de l'article}+div.metadata{Ecrit le 12/03/2020 à 8h00 dans la catégorie Politique}+div.content>img+(p>lorem15)*2+a.btn.btn-primary{Lire la suite})*3

</section>

{% endblock %}
